<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Project Profile Page</title>
  </head>
  <body>
    <h1>{{pageTitle}}</h1>
    <p>Hey! My name is Nikhil!. This is my profile page</p>
    {{> footer}}
  </body>
  </html>
</html>
